<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мир пицц от огузка</title>
    <link rel="stylesheet" href="/static/style/style.min.css">
    <link rel="icon" href="/static/images/icons/favicon.svg">
</head>
<body>
<h1>Список пицц <a href="/categories">Перейти к категориям</a></h1>

<ul>
  {% for pizza in pizzas %}
    <li id="pizza-{{ pizza.id }}" style="display: flex;flex-direction: row;gap: 5px;">{{ pizza.name }} - {{ pizza.price }} рублей -
      <button onclick="printInForm('{{ pizza.id }}', '{{ pizza.name }}', '{{ pizza.price }}', '{{ pizza.category_id }}')">
        Изменить
      </button>
      -
      <button onclick="deletePizza({{ pizza.id }})" type="button">
        Удалить пиццу
      </button>
    </li>
  {% endfor %}
</ul>

<h3>Добавление пиццы</h3>
<form action="/pizzas/add" method="post">
    <label for="name">Название пиццы:</label><br>
    <input type="text" name="name"><br>
    <label for="price">Цена пиццы:</label><br>
    <input type="number" name="price"><br>
    <label for="category_id">Категория:</label><br>
    <select name="category_id">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Добавить">
</form>

<h3>Редактирование пиццы</h3>
<form id="edit_form">
    <input type="hidden" name="pizza_id" id="pizza_id">
    <label for="new_name">Новое название пиццы:</label><br>
    <input type="text" name="new_name" id="new_name"><br>
    <label for="new_price">Новая цена пиццы:</label><br>
    <input type="number" name="new_price" id="new_price"><br>
    <label for="new_category_id">Новая категория:</label><br>
    <select name="new_category_id" id="new_category_id">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select><br>
    <button type="button" onclick="updatePizza()">Обновить</button>
</form>
</body>
<script>
    function printInForm(id, name, price, category_id){
        document.getElementById('pizza_id').value = id;
        document.getElementById('new_name').value = name;
        document.getElementById('new_price').value = price;
        document.getElementById('new_category_id').value = category_id;
    }

    function updatePizza() {
        const pizzaId = document.getElementById('pizza_id').value;
        const newName = document.getElementById('new_name').value;
        const newPrice = document.getElementById('new_price').value;
        const newCategoryId = document.getElementById('new_category_id').value;

        const formData = new FormData();
        formData.append('pizza_id', pizzaId);
        formData.append('new_name', newName);
        formData.append('new_price', newPrice);
        formData.append('new_category_id', newCategoryId);

        fetch('/pizzas/edit', {
            method: 'PUT',
            body: formData
        }).then(res => {
            if(res.ok){
                location.reload()
            } else {
                alert('Ошибка при обновлении')
            }
        })
    }

    function deletePizza(id) {
        if (!confirm("Вы точно хотите удалить пиццу?")) return;

        fetch(`/pizzas/delete/${id}`, {
            method: 'DELETE'
        }).then(res => {
            if(res.ok){
                document.getElementById(`pizza-${id}`).remove()
            } else {
                alert('Ошибка при удалении')
            }
        })
    }
</script>
</html>