<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мир пицц от огузка</title>
    <link rel="stylesheet" href="/static/style/style.min.css">
    <link rel="icon" href="/static/images/icons/favicon.svg">
</head>
<body>
<h1>Список пицц</h1>

<ul>
    {% for pizza in pizzas %}
    <li>{{ pizza.name }} - {{ pizza.price }} рублей</li>
    {% endfor %}
</ul>

<form action="/pizzas/add" method="post">
    <label for="name">Название пиццы:</label><br>
    <input type="text" name="name"><br>
    <label for="price">Цена пиццы:</label><br>
    <input type="number" name="price"><br>
    <label for="category_id">Категория:</label><br>
    <select name="category_id">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Добавить">
</form>
</body>
</html>